.user-block{
    border-bottom: 1px dashed #bbb;
    color: #555;
    padding: 10px;
    display: block;
    position: relative;
}

.user-block .fa-user-circle{
    color: #00f;
}


.buttons {
    position: absolute;
    top: 9px;
    right: 10px;
}